.popup__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup__title {
    margin: 0 0 25px 0;
    font-size: 36px;
}

.popup__buttons {
    display: flex;
    gap: 10px;
}

.confirm {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: opacity .3s ease-in-out;
    font-size: 20px;
}

.cancel {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: opacity .3s ease-in-out;
    font-size: 20px;
}

.confirm:hover,
.cancel:hover {
    cursor: pointer;
    opacity: .6;
}